{#

Description text for the Form API Example.

#}

{{ attach_library('core/drupal.dialog.ajax') }}
{% set match_registration = path('register_multiple.registration_form') %}

{% trans %}
<p>This functionality is still underdevelopment, as I have yet to find a way to enable the admin to select another user's rifles in the availability form.  
Until I can solve this, all members must use the website themselves to register for matches for us to remain Home Office compliant.</p>
<p><a href={{ match_registration }}>My Availability form</a></p>

{% endtrans %}
